.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cards-table-container {
  margin: 20px;
}

.cards-table {
  width: 50%;
  border-collapse: collapse;
}

.cards-table th, .cards-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cards-table th {
  background-color: #f2f2f2;
}

.cards-table-container label {
  font-size: 20px; 
  display: block;
  text-align: center; 
}

.cards-table th, .cards-table td {
  font-size: 18px;
  text-align: center;
}

.cards-table input[type="checkbox"] {
  /* transform: scale(3);  */
  width: 25px; 
  height: 25px; 
  margin-right: 5px; 
}




.custom-table {
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px dashed black;
  padding: 8px;
}

.inner-table {
  border: none;
}

.inner-table th, .inner-table td {
  border: none;
  padding: 4px;
}
